/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1440px;
    min-width: 320px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 22px;
    margin: 0;
}

ul {
    list-style: none;
}

header {
    display: flex;
}


/****** Header And Navbar ***********/
.menu {
    display: flex;
    margin-left: auto;
    height: 35px;
}

.logo {
    padding: 30px 50px;
}

.logo img {
    width: 61.09px;
    height: 19px;
    margin-bottom: -4px;
}

.menu .menu-list {
    display: flex;
    margin: 0;
    padding: 0 50px;
    gap: 68px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent;
}

.menu li:hover {
    border-top: 2px solid #0065FC;
}

/****** Section Info ***********/
.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info p {
    margin: 0px;
}

.search-bar {
    display: flex;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    width: fit-content;
    max-height: 47px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    color: black;
    font-size: 1.1666em;
}

.search-bar input {
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 700;
    width: calc(195px - 48px);
    border: 1px;
}

.search-button {
    font-size: 18px;
    padding: 15px 16px;
    background-color: #0065FC;
    color: white;
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-button>.fa-solid {
    display: none;
}

.grid-filter {
    display: grid;
    grid-template-columns: repeat(4, min-content) max-content;
    gap: 15px;
    height: 50px;
    align-items: center;
}

.filters {
    display: flex;
    gap: 10px;
    align-items: center;
    min-height: 50px;
    background-color: transparent;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px;
    font-size: 17px;
    font-weight: 700;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters strong {
    font-size: 18px;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.infobar .fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    gap: 4px;
    padding-bottom: 15px;
}

.hebergements .column {
    display: flex;
    gap: 30px;
}

.hebergements a {
    display: flex;
    flex: 1;
    width: calc((100% - 60px)/3);
}

.hebergements img {
    min-height: 114px;
    max-height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
}

.hebergements .card-content {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
}

.hebergements .card-title {
    margin: 0 0 8px;
}

.hebergements .card-subtitle {
    margin: 0;
}

.hebergements .card-rating {
    display: flex;
    align-items: center;
    gap: 2.38px;
    max-height: 13.25px;
}

.hebergements .fa-star {
    width: 13.25px;
    height: 13.25px;
    font-size: 0.77em;
}

.hebergements strong {
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activity-cards {
    display: flex;
    gap: 30px;
}

.activity-cards .card-title {
    margin: 0;
}

.activity-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.activity-cards img {
    width: 100%;
    min-height: 380px;
    max-height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-cards .card-content {
    display: flex;
    padding: 20px 19px;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
}

.activity-cards a {
    flex: 1;
}

/****** Footer ***********/
.footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.footer article {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer h3 {
    margin: 0;
    font-size: 18px;
}

.footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters span {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-cards img {
        max-height: 200px;
        min-height: 200px;
    }

    .activity-cards .card-content {
        padding: 16px 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /****** Header ***********/
    body {
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 100%;
        margin: 0;
    }

    .menu .menu-list {
        width: 100%;
        padding: 0;
        gap: 0px;
    }

    .menu-list li {
        width: 50%;
        border-top: 0px;
        border-bottom: 2px solid transparent;
    }

    .menu li:hover {
        border-top: 0px;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /****** Body ***********/

    .main-container {
        padding: 30px 0 0 0;
    }

    /****** Info ***********/

    .info {
        padding: 0px 20px;
    }

    div.search-bar {
        width: 100%;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 100%;
    }

    .search-button>span {
        display: none;
    }

    .search-button>.fa-solid {
        display: inline;
    }

    .search-button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .search-button .fa-solid {
        color: white;
    }

    div.filters {
        height: 161px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .filters .columns {
        flex-direction: column;
        gap: 20px;
    }

    .filters .column {
        width: 100%;
        display: flex;
        gap: 0px;
        justify-content: space-between;
    }

    .filters strong {
        align-self: flex-start;
    }

    .filters button {
        width: calc(50% - 5px);
    }

    .filters span {
        font-size: 14px;
    }

    /****** Hebergements and Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        padding: 30px 20px;
        border-radius: 0px;
    }

    /****** Hebergements ***********/

    section.hebergements {
        background-color: white;
        padding: 20px;
        gap: 15px;
    }

    .hebergements .column {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements a {
        width: 100%;
    }

    /****** Populaires ***********/

    .populaires {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    .populaires .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires a {
        width: 100%;
    }

    .populaires .card {
        margin: 0;
    }

    /****** Activities ***********/

    #activities {
        margin: 0;
    }

    .activity-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activity-cards .card {
        width: 100%;
    }

    .activity-cards img {
        max-height: 141px;
        min-height: 141px;
    }

    /****** Footer ***********/

    .footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer article {
        padding: 0;
        width: fit-content;
    }
}